<div class="row mb-3" style="opacity: .5;">
    <div class="col text-center">
        <div class="spinner-grow text-primary mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light mr-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>